body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #333, #f0f0f0);
    margin: 0;
    padding: 0;
}
section {
    margin: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu-lateral {
    position: fixed;
    top: 50%;
    right: -180px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    transform: translateY(-50%);
    transition: right 0.3s;
    z-index: 999;
}
.menu-lateral .menu-icon {
    cursor: pointer;
}
.menu-lateral:hover {
    right: 0;
}
.menu-conteudo a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 5px 0;
    transition: background-color 0.3s;
}
.menu-conteudo a:hover {
    background-color: #555;
}

.cabeçalho {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: relative;
}
.cabeçalho a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}
.cabeçalho a:hover {
    color: #ff9900; /* Cor em hover */
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    
}
input[type="text"],
input[type="tel"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"] {
    background-color: #564f4f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 0,8px;
    background-color: #ffffff;
    border-radius: 5px;
}

#cursos table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
}
#cursos th {
    background-color: #464646;
    color: #ffffff;
    padding: 10px;
    text-align: left;
}
#cursos td {
    border: 1px solid #464646; 
    padding: 10px;
}
#cursos th,
#cursos td {
    text-align: left;
}
#cursos h2 {
    text-align: center;
}
#sobre p {
    max-width: 1400px;
    margin: 0 auto;
    color: #000000;
}
#sobre h2 {
    text-align: center;
    color: #000;
}